.landing-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--landing-background);
}
.chat{
    width:100vw;
    height:100vw;
    max-width: 1280px;
    max-height: 900px;
    display:grid;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 75%;
    box-shadow: .1rem .1rem 2rem .1rem var(--overlay);
}
.mobile-chat{
    display: none;
}